#mxgit-marker-start
src/.svn
src/GPUCache
src/modeler-merge-marker
src/.mendix-cache
src/*.mpr.lock
src/*.mpr.bak
src/*.mpr.left*
src/*.mpr.right*
src/.settings
src/deployment
src/releases
src/javascriptsource
src/mlsource
src/modules
src/resources
proxies
target
*.launch
.classpath
.project
.vscode
#mxgit-marker-end

src-server/target
src-server/Cargo.lock
src-server/Todo.md